@model RentalBookingModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Name</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Father Name</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="FatherName" />
            <span asp-validation-for="FatherName"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Cnic</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Cnic" />
            <span asp-validation-for="Cnic"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Driver Name</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DriverName" />
            <span asp-validation-for="DriverName"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Licence Number</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="LicenceNumber" />
            <span asp-validation-for="LicenceNumber"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Make</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Make" />
            <span asp-validation-for="Make"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Car Color</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="CarColor" />
            <span asp-validation-for="CarColor"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Car Number</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="CarNumber" />
            <span asp-validation-for="CarNumber"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Engine Number</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EngineNumber" />
            <span asp-validation-for="EngineNumber"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Chassis Number</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ChassisNumber" />
            <span asp-validation-for="ChassisNumber"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Booking Date</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="BookingDate" />
            <span asp-validation-for="BookingDate"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Return Date</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ReturnDate" />
            <span asp-validation-for="ReturnDate"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Total Cost</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="TotalCost" />
            <span asp-validation-for="TotalCost"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Advance Cost</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="AdvanceCost" />
            <span asp-validation-for="AdvanceCost"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Remaining Cost</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="RemainingCost" />
            <span asp-validation-for="RemainingCost"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Karachi To</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="KarachiTo" />
            <span asp-validation-for="KarachiTo"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Address</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Address" />
            <span asp-validation-for="Address"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Phone Number 1</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PhoneNumber1" />
            <span asp-validation-for="PhoneNumber1"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="col-form-label" for="Name">Phone Number 2</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PhoneNumber2" />
            <span asp-validation-for="PhoneNumber2"></span>
        </div>
    </div>
</div>